@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 10, 10, 10;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: #f1f5f9;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.test-border {
  border: 2px solid;
  border-image-source: linear-gradient(
    140.81deg,
    rgba(0, 0, 0, 0.45) 22.51%,
    #ffffff 106.27%
  );
}
